.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.navbarLinks {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarLinks_logo {
    margin-right: 2rem;
}

.navbarLinks_container {
    display: flex;
    flex-direction: row;
}

.navbarSign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarLinks_container p,
.navbarSign p,
.navbarMenu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.navbarSign button,
.navbarMenu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbarMenu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbarMenu svg {
    cursor: pointer;
}

.navbarMenu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbarMenu_container p {
    margin: 1rem 0;
}

.navbarMenu_containerLinksSign {
    display: none;
}

.scaleUpCenter {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (max-width: 1050px) {
    .navbarLinks_container {
        display: none;
    }

    .navbarMenu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu_container {
        top: 20px;
    }

    .navbarMenu_containerLinksSign {
        display: block;
    }
}
